*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    width: 100%;
    overflow: hidden;
}
.sect1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    gap: 4rem;
    width: auto;
    height: auto;
}

.date_time{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
    position: fixed;
    top: 20px;
}

#time{
    font-size: 60px;
    font-weight: 500;
    font-family: sans-serif;
    letter-spacing: 1px;
}

.new-alarm{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 15px;
    border-radius: 10px;
    border: 2px solid black;
   
}
.titre{
    font-size: 20px;
    font-weight: 500;
    font-family: 'Courier New', Courier, monospace;
}
.motif{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 15px;
}
#alarm-time, #alarm-text{
    padding: 10px;
    border: 2px solid black;
    outline: none;
    padding: 10px;
    width: 220px;
    border-radius: 5px ;
    font-size: 15px;
    font-weight: bold;
}

.days{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    padding: 20px;
}

.jour{
    font-weight: bold;
    padding: 10px;
    font-size: 15px;
    border-radius: 5px;
    background-color: white;
    border: 2px solid #ddd;
    cursor: pointer;
    transition: 0.2s;
}

.jour:hover{
    background-color: #eee;
}

.jour.active{
    background-color: #4CAF50;
    color: white;
    border: none;
}

.ajout{
    display: flex;    
    justify-content: center;
    align-items: center;
    gap: 15px;
    padding: 15px;

}
.add-alarm{
    font-size: 15px;
    font-weight: bold;
    border: 2px solid;
    padding: 10px;
    border-radius: 10px;
    background-color: white;
}

.add-alarm:hover{
    background-color: rgb(221, 215, 215);
}

.sect2{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 60vh;
    position: relative;
    margin-top: 80px;
    margin-bottom: 20px;
    background-color: #f7f7f7;
}

.alarm-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 800px;
    overflow-y: auto;
    margin-top: 30px;
}
#toggle-btn{
    position: fixed;
    bottom: 30px;
    border: none;
    background: white;
}
img{
    width: 45px;
    height: 45px;
}
.alarm-list{
    width: 400px;
    min-height: 200px;
    padding: 15px;
    border-radius: 10px;
}

.alarm-item { 
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
    padding: 15px;
    border-bottom: 1px solid #ddd;
    gap: 10rem;
}

.alarm-info {
    display: flex;
    flex-direction: column;
}

.alarm-time {
    font-size: 22px;
    font-weight: bold;
}

.alarm-text {
    font-size: 14px;
    color: #555;
    margin-top: 2px;
}

.alarm-days {
    font-size: 12px;
    color: #999;
    margin-top: 1px;
}
.switch { 
    position: relative; 
    display: inline-block; 
    width: 40px; 
    height: 20px; 
}

.switch_input { 
    opacity: 0; 
    width: 0; 
    height: 0; 
}

.slider { 
    position: absolute; 
    cursor: pointer; 
    top: 0; 
    left: 0; 
    right: 0; 
    bottom: 0;
    background-color: #ccc; 
    transition: .4s;
     border-radius: 20px; 
}

.slider:before { 
    position: absolute; 
    content: ""; 
    height: 16px; 
    width: 16px; 
    left: 2px; 
    bottom: 2px;
                 
    background-color: white; 
    transition: .4s; 
    border-radius: 50%; 
}
input:checked + .slider { 
    background-color: #4CAF50; 
}
input:checked + .slider:before { 
    transform: translateX(20px); 
}
  